<p>Terima kasih anda telah mengisi formulir elektronik kami untuk penggunaan jasa Veritrans.
Saat ini kami sedang memproses dan meninjau aplikasi anda.</p>
 
<p>Kami akan menghubungi anda kembali dalam 2 hari.</p>
 
<p>Terima kasih,</p>
 
<p>Veritrans</p>
